@tailwind base;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: linear-gradient(135deg, #0a2a43, #02172d);
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(135deg, #0a2a43, #02172d);
  }
  25% {
    background: linear-gradient(135deg, #012941, #0b3d64);
  }
  50% {
    background: linear-gradient(135deg, #01324f, #034874);
  }
  75% {
    background: linear-gradient(135deg, #02172d, #0a2a43);
  }
  100% {
    background: linear-gradient(135deg, #0a2a43, #02172d);
  }
}

::-webkit-scrollbar {
  display: none;
}
h1,
h2 {
  text-transform: uppercase;
}
