* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;

  text-decoration: none;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background: linear-gradient(
    135deg,
    rgb(46, 46, 240) 0%,
    rgb(74, 140, 255) 100%
  ); */
}

/* html {
  scroll-behavior: smooth;
} */
::-webkit-scrollbar {
  display: none;
  color: #92781a;
}
body {
  font-family: "Poppins", sans-serif;
}
