.container.testimonials_container {
  width: 40%;
  padding-bottom: 4rem;
  /* background-color: aqua; */
}
/* section {
  text-align: center;
} */
.swiper-pagination-clickable .swiper-pagination-bullet {
  background: blue;
}

/* .client_avatar {
  color: white;
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid white;
} */
.testimonials {
  color: rgb(255, 0, 255);
  /* font-family: monospace; */
  background: rgb(106, 106, 255);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

/* .client_review {
  color: white;
  font-size: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
} */

@media screen and (max-width: 1024px) {
  .testimonials_container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .container.testimonials_container {
    width: var(--container-width-sm);
  }
  .client_review {
    width: var(--container-width-sm);
  }
}
